/* Colors */
a, h3, .postlink, .dropdown-contents a:hover, .dropdown-trigger:focus {
    color: #00CC2D;
}
a:hover, a:focus, h3:hover, .postlink:hover, a:hover .icon.icon-gray, a:hover .icon.icon-blue, a:hover .icon.icon-red {
color: #00951f;
}
.posthilit, .button1, a.button1, input.button1, .button, .tabs .activetab > a, .tabs .activetab > a:hover, .dropdown-contents .header a, .pagination li.active span, .pagination li.active span, .pagination li a:hover, .pagination li a:hover .icon, .pagination .dropdown-visible a.dropdown-trigger, .nojs .pagination .dropdown-container:hover a.dropdown-trigger {
    background: #00CC2D;
}
.inputbox:focus, .inputbox:hover, .postlink, .pagination li.active span, .pagination li.active span, .pagination li a:hover, .pagination li a:hover .icon, .pagination .dropdown-visible a.dropdown-trigger, .nojs .pagination .dropdown-container:hover a.dropdown-trigger {
    border-color: #00CC2D;
}
h2, .content h2, .panel h2, .dropdown-contents .header, .fields1 .button{
    background: #00CC2D9c;
}
.button:hover, .button:focus {
    background: #09a62a;
}
.posthilit {
    color: #ffffff;
}
